@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2> Appmarket te permite vender por Internet los productos que quieras..</h2>

<img src="~/images/ecommerce14.jpg" />
