@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Tegucigalpa<br />
    Honduras 3307 7964<br />
    <abbr title="Phone">P:123 456</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="tecnologershn@gmail.com">tecnologershn@gmail.com</a><br />
</address>

<img src="~/images/ecommerce1.jpg" />
